<h1>Welcome Visitor!</h1>
<h3><%= link_to("See all Markets", marketsindex_path) %></h3>
<p>or select a market:
  <%= collection_select :market_id, :name, Market.order(:name),:id,:name, include_blank: false %>
  <%= button_to 'Go', marketsshow_path(:id), method: :get %></p>


<h3><%= link_to("Vendors", vendorsindex_path) %></h3>
<p>or select a vendor:
  <%= collection_select :vendor_id, :name, Vendor.order(:name),:id,:name, include_blank: false %>
  <%= button_to 'Go', vendorsshow_path(:id), method: :get %></p>
