<%= form_for @vendor,
  url: action_name do |f| %>
<ul>
  <li><%= f.label :name %></li>
  <li><%= f.text_field :name %></li>

  <li><%= f.label :employees %></li>
  <li><%= f.text_field :employees %></li>

  <li><%= f.label :market_id %></li>
  <li><%= f.select(:market_id, Market.all.map{|u| [u.name, u.id]}, {include_blank: true}) %></li>

  <li><%= f.submit class: 'button' %>
</ul>

  <% end %>
