<h1><%= @vendor[:name] %></h1>
<ul>
  <li><%= button_to 'Delete this Vendor', vendorsdestroy_path(params[:id]), method: :delete, data: {confirm: 'Are you sure you want to delete this vendor?'} %></li>
</ul>
<p>Current employees: <%= @vendor[:employees] %></p>
Products sold:
<ul>
  <% @vendor.products.each do |product| %>
  <li><%= link_to(product.name, productsshow_path(product.id)) %></li>
  <% end %>
  <li><%= button_to 'New Product', productsnew_path(), method: :get %></li>
</ul>


<article>
  <h3> Currently at:  </h3>
  <p><%= link_to(@vendor.market.name, marketsshow_path(@vendor.market.id)) %></p>
  <p><%= @vendor.market.address %></p>
  <p><%= @vendor.market.city %>, <%= @vendor.market.state %> <%= @vendor.market.zip %></p>
  <p>County: <%= @vendor.market.county %></p>
</article>

<article>
  <h4>Sales</h4>
  <ul>

    <% if @vendor.sales != nil %>
      <% totalsales = 0.0 %>

      <% @vendor.sales.each do |sale| %>
        <% sale_with_decimals = sale.amount / 100.0 %>
          <li><%= link_to(sale.product.name, salesshow_path(sale.id)) %>: $<%= (sprintf "%.2f", sale_with_decimals) %>
          <% totalsales += sale_with_decimals %>
      <% end %>
      <p>Total Sales: $<%= (sprintf "%.2f", totalsales) %></p>

    <% else %>
      <h3>You might want to try selling something.</h3>
    <% end %>

    <li><%= button_to 'New Sale', salesnew_path(), method: :get %></li>
  </ul>

</article>
