<%= form_for @product,
  url: action_name do |f| %>
<ul>
  <li><%= f.label :name %></li>
  <li><%= f.text_field :name %></li>

  <li><%= f.label :vendor_id %></li>
  <li><%= f.text_field :vendor_id %></li>

  <li><%= f.submit class: 'button' %>
</ul>

  <% end %>
